
body {
  background: #0F2027;
  /* fallback for old browsers */
  font-family: sans-serif;
  color: white;
  font-family:
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

}
header h1{
  font-size: 3em;
    margin-bottom: 0;
}
a{
  color:inherit;
  text-decoration: none;
}

#form{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#movie-name {
  width: 270px;
  height: 40px;
  border-radius: 7px;
  background-color: whitesmoke;
  border: 2px solid black;
}

#get-movie-info {
  color: white;
  border-radius: 5px;
  width: 83px;
  height: 40px;
  border: 2px solid black;
  background: #2aaf8d;
}


#search-result {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content:center;
  margin-top: 10px;
}

#search-result img {
  height: 400px;
  width: 270px;
  box-shadow: 0px 0px 12px 2px #3c7590;
  border-radius: 10px;
}

.search-result-movie {
  background: #004056;
  position: relative;/*blur */
  border-radius: 10px;
  border: 2px solid black;
  margin: 10px;
  /* height: 495px; */
}
.poster {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  background: #000000b0;
  border-radius: 10px;
  padding: 10px 8px 15px 8px;
  width: 80%;
  font-size: 1.3em;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.movie-year{
  color: gray;
  font-size: 0.8em;
  margin-bottom: 8px;
  display: inline-block;
}

.search-result-movie:hover .poster {

  /* filter:blur(5px); */
  opacity: 0.5;

}

.search-result-movie:hover .middle {
  opacity: 1;
}


.know-more {
  border-radius: 5px;
  border: 1px solid white;
  background: #2aaf8d;
  color: white;
  height: 25px;
  padding: 2px 5px;
}

#selected-movie-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selected-movie-details{
  text-align: center;
  width: 50%;
  line-height: 1.5em;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
  background: #004056;

}
